<div class="transfer">
  <h2 class="transfer--tittle">
    Transfer
  </h2>

  <div class="transfer--container">
    <div class="transfer--field">
      <div>
        Player to transfer:
      </div>

      <div class="transfer--field--right-value">
        <select
          class="transfer--field--list"
          [(ngModel)]="transferPlayerId"
        >
          <option
            *ngFor="let player of players"
            [value]="player.id"
          >
            {{ player.firstName }} {{ player.lastName }}
          </option>
        </select>
      </div>
    </div>

    <div class="transfer--field">
      <div>
        To team:
      </div>

      <div class="transfer--field--right-value">
        <select
          class="transfer--field--list"
          [(ngModel)]="transferTeamId"
        >
          <option
            *ngFor="let team of teams"
            [value]="team.id"
          >
            {{ team.name }}
          </option>
        </select>
      </div>
    </div>

    <button class="transfer--button" (click)="transfer()">
      Transfer
    </button>
</div>

</div>
