<header class="header">
  <a class="header--logo" [routerLink]="['/']">
    <img class="header--logo--image" src="../../assets/logo.svg" alt="">
  </a>

  <nav>
    <ul class="header--list">
      <li class="header--element">
        <a class="header--link" [routerLink]="['/players']">Players</a>
      </li>
      <li class="header--element">
        <a class="header--link" [routerLink]="['/teams']">Teams</a>
      </li>
      <li class="header--element">
        <a class="header--link" [routerLink]="['/transfer']">Transfer</a>
      </li>
    </ul>
  </nav>
</header>
