<div class="container">
  <table class="table">
    <tr class="table__titles">
      <td>#</td>
      <td>Name</td>
      <td>City</td>
      <td>Country</td>
      <td>Budget</td>
      <td>Commission</td>
    </tr>
    <tr class="container__item" *ngFor="let team of teams">
        <td>{{ team.id }}</td>
        <td><a class="container__link" [routerLink]="['/teams', team.id, 'players']">{{ team.name }}</a></td>
        <td>{{ team.city }}</td>
        <td>{{ team.country }}</td>
        <td>{{ team.budget }}</td>
        <td class="table__small-column">{{ team.transferCommission }}</td>
        <td class="table__button">
          <button class="delete-button" (click)="deleteTeam(team)">
            Delete
          </button>
        </td>
    </tr>
  </table>
</div>

<h2>Add new team</h2>
    
<div class="container">
  <p>Name: <input placeholder="Name" [(ngModel)]="newTeam.name"></p>
  <p>City: <input placeholder="City" [(ngModel)]="newTeam.city"></p>
  <p>Country: <input placeholder="Country" [(ngModel)]="newTeam.country"></p>
  <p>Budget: <input placeholder="Budget" [(ngModel)]="newTeam.budget"></p>
  <p>Transfer Commission: <input placeholder="Transfer commission" [(ngModel)]="newTeam.transferCommission"></p>
  <button (click)="addTeam()">Add Team</button>
</div>