<h2>Team Details</h2>
<p>{{ team.id }}</p>
<div *ngIf="!editMode" class="container">
  <p>Name: {{ team.name }}</p>
  <p>City: {{ team.city }}</p>
  <p>Country: {{ team.country }}</p>
  <p>Budget: {{ team.budget }}</p>
  <p>Transfer commision: {{ team.transferCommission }}</p>
  <p>
    <button *ngIf="!editMode" (click)="editMode = true">Edit</button>
  </p>
</div>
<div *ngIf="editMode" class="container">
  <p>Name: <input [(ngModel)]="team.name"></p>
  <p>City: <input [(ngModel)]="team.city"></p>
  <p>Country: <input [(ngModel)]="team.country"></p>
  <p>Budget: <input [(ngModel)]="team.budget" type="number"></p>
  <p>Transfer commision: <input [(ngModel)]="team.transferCommission" type="number"></p>
  <button (click)="save()">Save</button>
  <button (click)="cancel()">Cancel</button>
</div>